.container {
  display: flex;
  height: auto;
}
.sidebar {
  background-color: #002A42;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
}
.sidebar h2 {
  color: #f1f1f1;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar li {
  margin-bottom: 10px;
}
.sidebar li a {
  color: #f1f1f1;
  display: block;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
}
.sidebar li a.active {
  background-color: #f1f1f1;
  color: #002A42;
  font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
  border-radius: 10px;
}
.sidebar li a:hover {
  background-color: #ddd39d;
  color: #002A42;
  font-size: 18px;
  border-radius: 10px;
}
.sidebar li:first-child a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.sidebar li:last-child a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content {
flex: 1;
padding: 20px;
}
.profile {
margin-bottom: 20px;
aligned-items: center;
}
#profile-picture {
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
margin-right: 10px;
cursor: pointer;
}
#change-profile-link {
color: blue;
cursor: pointer;
}
.box {
border-radius: 25px;
padding: 20px;
background-color: #f9f9f9;
padding: 20px;
width: 800px;
height: 150px;
}
.box h3 {
color: #333;
}
#grades table {
width: 100%;
border-collapse: collapse;
}
#grades th,
#grades td {
padding: 10px;
border-bottom: 1px solid #ddd39d;
}
#add-grade-btn,
#add-achievement-btn,
#add-clubs-btn,
#add-interest-btn {
margin-top: 10px;
}
#achievements-list,
#clubs-list,
#interest-list {
padding-left: 0;
}
#achievements-list li,
#clubs-list li,
#interest-list li {
margin-bottom: 10px;
}
