{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
}
.sidebar {
  background-color: #f2f2f2;
  padding: 20px;
}
.sidebar h2 {
  margin-bottom: 10px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #002A42;
  margin-bottom: 10px;
}
}
.sidebar li {
  margin-bottom: 10px;
}
.sidebar a {
  text-decoration: none;
  color: #333;
}
.content {
  padding: 20px;
}
.content h2 {
  margin-bottom: 20px;
}
.profile {
  margin-bottom: 20px;
}
.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
#change-profile-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #333;
}
.box {
  border-radius: 25px;
  padding: 20px;
  background-color: #d9d9d9;
  margin-bottom: 20px;
}
.box h3 {
  color: #eeeeee;
  border-bottom: 2px solid ##AA272F;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  padding: 10px;
  text-align: left;
}
table th {
  background-color: #ddd39d;
}
button {
  padding: 10px 20px;
  background-color: #002A42;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
button:hover {
  background-color: #ddd39d;
}
p {
  margin-top: 20px;
  text-align: center;
}
p a {
  color: #333;
}
